/* you don't actually see this background color as it is being overlayed with the header and content div. it takes up the entire device viewport*/

.App {
  background-color:goldenrod; 
  width: 100vw;
  height: 100vh;
}
/* width set to 100vw, takes up entire width of page. but it's height is only 10% of the page */
.header {
  background-color:rgb(52, 165, 218);
  width: 100%;
  height: 10%;
}
.homeButton {
  margin-left: 60px;
  width: 10%;
  height: 100%;
  line-height: 70px;
  background-color: aliceblue;
}
/* this parent div element is set to flex and given the column direction so it runs up and down. takes up the rest of what the header doesn't cover, 90%*/
.content {
background-color: rgb(34,34,34);
width: 100%;
height: 90%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
/* this div is the child of content, takes up 80% of content div 90% width */
.slides {
  background-color: lightgray;
  width: 80%;
  height: 80%;
}

.blueLine {
  background-color: rgb(52, 165, 218);
  width: 250px;
  height: 4px;
  position: relative;
  bottom: 36px;
}

.slide {
  width: 100%;
  height: 100%;
  margin-left: 100px;
  margin-top: 50px;
  line-height: 40px;
}
/* this is a div that runs under slide div, it is displaying buttons for next, previous and edits */
.buttons {
  /* background-color: #787; */
  display: flex;
  width: 80%;
  height: 6%;
}
/* this inside buttons div, it is set to flex 1 so it takes up 1-2 ratio */
.previous {
  /* background-color: #5ff; */
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
/* this flex set to 2 takes up the greatest ratio of the buttons div */
.edits {
  /* background-color: #44f; */
  flex: 2;
}

.next {
  /* background-color: #ff1; */
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.from {
  display: inline;

}

h4 {
  display:inline;
}
p {
  display: inline;
  margin-top: 20px;
}

.movieList {
  margin-left: 30px;
}

.pagecounter {
  color: black;
  position: absolute;
  top: 150px;
  right: 200px;
}

.navbuttons {
  width: 90px;
  height: 40px;
  border-style: none;
  background-color: rgb(34,34,34);
  color: #fff;
}